[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = WPS-ASNUNES
	email = 181902382+WPS-ASNUNES@users.noreply.github.com
